body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a,
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
    margin: 0;
    padding: 0
}



/*----------------------------- Blogs Page------------------------*/
section.banner-blog {
    height: 50vh;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-image: url(../images/creative2-banner-bg.jpg);
    background-position: center right;
    background-attachment: fixed;
}

section.banner-blog .banner-caption {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

section.banner-blog .banner-caption h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

section.banner-blog .bread-crumb a {
    color: #fff;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

section.banner-blog .bread-crumb a:before {
    content: "/";
    position: absolute;
    right: -15px;
}

section.banner-blog .bread-crumb a:last-child:before {
    display: none;
}




















/*----------------------research box-----------------------*/
.research {
    padding: 5rem 0;
}

.content {
	width: 80%;
	margin: auto;
	overflow: hidden;
	margin-bottom: 2rem;
	position: relative;
}

.content .content-overlay {
	background: rgba(0,0,0,0.7);
	position: absolute;
	/* height: 99%; */
	width: 100%;
	/* left: 0; */
	top: 0;
	bottom: 0;
	/* right: 0; */
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
	z-index: 9;
	opacity: 1;
}

.content-image{
  width: 100%;
    position: relative;
}

.content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	/* opacity: 12; */
	z-index: 9;
}


.content-details h3{
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
    letter-spacing: 1px;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

