body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a,
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
    margin: 0;
    padding: 0
}



/*----------------------------- Blogs Page------------------------*/
section.banner-blog {
    height: 30vh;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-image: url(../images/creative2-banner-bg.jpg);
    background-position: center right;
    background-attachment: fixed;
}

section.banner-blog .banner-caption {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

section.banner-blog .banner-caption h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

section.banner-blog .bread-crumb a {
    color: #fff;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

section.banner-blog .bread-crumb a:before {
    content: "/";
    position: absolute;
    right: -15px;
}

section.banner-blog .bread-crumb a:last-child:before {
    display: none;
}




















/*----------------------research box-----------------------*/
.research {
    padding: 5rem 0;
    text-align: center;
}


.content-details {
    text-align: justify;
}


.content-title {
    color: #3b4eda;
    font-weight: 600;
    letter-spacing: 0.15em;
    margin: 2rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content-details p {
    color: #000;
    font-size: 14px;
}

.content-details p a {
    color: #3b4eda;
}


@media screen and (max-width: 991px) {
  .content-details p {
    margin-top: 10px;
}
}